<h2>Drugs Drugs Drugs</h2>

<div class="row">
<% @drugs.each do |drug| %>
  <div class="col s6 m4">
    <div class="card purple accent-1">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "#{drug.name.downcase}.png", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= drug.name %><i class="material-icons right">more_vert</i></span>
        <!-- <p><a href="#">This is a link</a></p> -->
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= drug.name %><i class="material-icons right">close</i></span>
          <ul class="collection">
            <li>Dosing = <%= drug.dosing %> cc per 10lb</li>
            <li>Route = <%= drug.route %></li>
            <li>Species = <%= drug.restrictions %></li>
            <li>Notes = <%= drug.notes %></li>
          </ul>
      </div>
    </div>
  </div>
<% end %>
</div>
  <!-- commons.wikimedia -->

<%# TODO: choose color schemes %>
<%# TODO: fix buprenorphine so has correct dosing %>
<%# TODO: fix dosage calc so doesnt allow non meds %>
