<%= form_for @animal, url: {action: "create"} do |f| %>
  <div class="section animal-info">
    <%= radio_button_tag(:species, "cat", required: "required") %>
    <%= label_tag(:species_cat, "Cat") %>
    <%= radio_button_tag(:species, "dog") %>
    <%= label_tag(:species_dog, "Dog") %>

    <div class="input-field">
      <%= number_field(:animal, :weight, min: 1, class: "validate", required: 'required') %>
      <%= label_tag(:animal_weight, "Weight (lbs)") %>
    </div>
  </div>
  <div class="divider"></div>

  <div class="section">
    <% @drugs.each do |drug| %>
      <%= radio_button_tag(:drug, "#{drug.id}", required: "required") %>
      <%= label_tag(:"drug_#{drug.id}", "#{drug.name}") %>
    <% end %>
  </div>
  <div class="divider"></div>

  <%= f.submit "Calculate Dosage", class: 'submit btn' %>
<% end  %>

<!-- <script>
  $('.submit-btn').on('click', function(){
    $('form').hide();
  });
</script> -->
