<p><%= params.inspect %></p>
<h3>drug dosing info: <%= @drug.dosing %></h3>
<h3>drug name: <%= @drug.name %></h3>

<h4>animal weight: <%= @animal.weight %> lbs</h4>
<h4>animal weight divided by 10 <%= @animal.weight / 10.0 %></h4>

<h5>dosage: <%= @dosage %></h5>
