<h2>Medication Log</h2>
<table class="striped">
  <thead>
    <tr>
      <th><%= doses_link "Patient", "animals.name" %></th>
      <th><%= doses_link "Drug Name", "drugs.name" %></th>
      <th><%= doses_link "Dosage" %></th>
      <th><%= doses_link "Date", "created_at" %></th>
      <th><%= doses_link "User", "users.email" %></th>
    </tr>
  </thead>

  <% @doses.each do |dose| %>
    <tr>
      <td><%= dose.animal.name %></td>
      <td><%= dose.drug.name %></td>
      <td><%= dose.dosage %> cc</td>
      <td><%= dose.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= dose.user.email %></td>
    </tr>
  <% end %>
</table>
