<table class="striped">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Drug Name</th>
      <th>Dosage</th>
      <th>Date</th>
      <th>User</th>
    </tr>
  </thead>

  <% @doses.each do |dose| %>
    <tr>
      <td><%= dose.animal.name %></td>
      <td><%= dose.drug.name %></td>
      <td><%= dose.dosage %> cc</td>
      <td><%= dose.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= dose.user.email %></td>
    </tr>
  <% end %>
</table>
