<h2>Medication Log</h2>
<table class="striped">
  <thead>
    <tr>
      <th><a href="/doses/sort/animal_id">Animal Name</a></th>
      <th><a href="/doses/sort/drug_id">Drug Name</a></th>
      <th><a href="/doses/sort/dosage">Dosage</a></th>
      <th><a href="/doses/sort/created_at">Date</a></th>
      <th><a href="/doses/sort/user_id">User</a></th>
    </tr>
  </thead>

  <% @doses.each do |dose| %>
    <tr>
      <td><%= dose.animal.name %></td>
      <td><%= dose.drug.name %></td>
      <td><%= dose.dosage %> cc</td>
      <td><%= dose.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= dose.user.email %></td>
    </tr>
  <% end %>
</table>
