<p>Please double check the following information is correct:
  <%= "#{@animal.name} (#{@animal.species})" %> weighs <%= @animal.weight %> lbs</p>

<%= form_for [@animal,@dose] do |f| %>
  <div class='input-field col s12'>
    <%= collection_select :dose, :drug_id, Drug.all, :id, :name, {:prompt => 'Select the Drug'} %>
  </div>
  <%= f.submit %>
<% end %>
