<div class='row'>
  <div class='col s12'>
    <h2 class='center'>dosage:</h2>
  </div>
</div>

<div class='row'>
  <div class='col s4 offset-s4 card-panel indigo lighten-2 center'>
    <h3><%= @dose.dosage %> cc</h3>
    <p><%= @dose.drug.name.upcase %></p>
  </div>
</div>

<h4 class='center'>Patient Info</h4>
<p class='center'><%= @animal.name %></p>
<p class='center'><%= "#{@animal.weight}lb #{@animal.species}" %></p>

<div class='row'>
    <%= link_to 'Log this Dose', @animal, class: 'btn col s12 m4 offset-m4' %>
    <%= link_to 'Delete this Dose', @dose, method: 'delete', class: 'btn col s12 m4 offset-m4' %>
  </div>
</div>
