<h3>drug dosing info: <%= @dose.drug.dosing %></h3>
<h3>drug name: <%= @dose.drug.name %></h3>

<h4>animal weight: <%= @dose.animal.weight %> lbs</h4>
<h4>animal weight divided by 10 <%= @dose.animal.weight / 10.0 %></h4>

<h5>dosage: <%= @dose.dosage %></h5>
