<h2>Updizzle</h2>
<%= form_for @animal do |f| %>

<div class='input-field'>
  <%= f.label :name, class: 'active' %>
  <%= f.text_field :name %>
</div>

<div class='input-field'>
  <%= f.label :species, class: 'active' %>
  <%= f.text_field :species %>
</div>

<div class='input-field'>
  <%= f.label :weight, 'weight in pounds', class: 'active' %>
  <%= f.number_field :weight %>
</div>

  <%= f.submit %>

<% end %>

<%# TODO: Fix view with labels while still using form - JS? %>
