<h2><%= @animal.name %></h2>
<%= @animal.species %>
<p><%= @animal.weight %> lbs</p>

<div>

<%= link_to 'Edit Animal',  edit_animal_path(@animal) %></div>
<div><%= link_to 'Delete Animal',  @animal, method: :delete %></div>

<%= link_to 'New Dose', new_animal_dose_path(@animal) %>

<h3>Medication Log</h3>

<table class="striped">
  <thead>
    <tr>
      <th><a href="/animals/<%= "#{@animal.id}" %>/sort/drug_id">Drug Name</a></th>
      <th><a href="/animals/<%= "#{@animal.id}" %>/sort/dosage">Dosage</a></th>
      <th><a href="/animals/<%= "#{@animal.id}" %>/sort/created_at">Date</a></th>
      <th><a href="/animals/<%= "#{@animal.id}" %>/sort/user_id">User</a></th>
    </tr>
  </thead>

  <% @doses.each do |dose| %>
    <tr>
      <td><%= dose.drug.name %></td>
      <td><%= dose.dosage %> cc</td>
      <td><%= dose.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= dose.user.email %></td>
    </tr>
  <% end %>
</table>
