<!DOCTYPE html>
<html>
<head>
  <title>VetPetMeds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to 'Animals', animals_path %>
    <%= link_to 'Medications', drugs_path %>

    <span>
      <% if current_user %>
        Welcome, <%= current_user.email %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </span>

  </nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<script>
  $(document).ready(function() {
     $('select').material_select();
   });
 </script>
</body>
</html>
