<!DOCTYPE html>
<html>
<head>
  <title>VetPetMeds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <nav>
    <ul class='left'>
      <li><%= link_to 'Home', root_path, class: 'waves-effect btn-flat' %></li>
    <% if current_user %>
      <li><%= link_to 'Animals', animals_path, class: 'waves-effect btn-flat' %></li>
      <li><%= link_to 'Medications', drugs_path, class: 'waves-effect btn-flat' %></li>
      <li><%= link_to 'Log', doses_path, class: 'waves-effect btn-flat' %></li>
    <% end %>
    </ul>

   <ul class='right'>
     <% if current_user %>
       <li>Welcome, <%= current_user.email %></li>
       <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
     <% else %>
       <li><%= link_to 'Signup', new_user_registration_path %></li>
       <li><%= link_to 'Login', new_user_session_path %></li>
     <% end %>
   </ul>
  </nav>

<main>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</main>

</body>
</html>
